In [161]:
import numpy as np
import pandas as pd
import re
from numpy.random import default_rng
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_columns',100) 
pd.set_option('max_rows',500)  
File_Path = ['DataAnalyst.csv', 'DataEngineer.csv', 'DataScientist.csv']
Save_Path = 'AllData.csv'
r_dic = {'million': 1000000, 'billion':1000000000}

In [162]:
def read_data(File_Path):
    df = pd.read_csv(File_Path)
    return df

In [163]:
def clean_salary(df):
    df['Lo Salary'] = df['Salary Estimate'].str.extract(r'^\s*\$(\d+\.*\d*[kK])[^0-9]', expand=True)
    df['Lo Salary'] = df['Lo Salary'].str.replace(r'[kK]$', '000')
    df['Hi Salary'] = df['Salary Estimate'].str.extract(r'\s*-\s*\$(\d+\.*\d*[kK])[^0-9]', expand=True)
    df['Hi Salary'] = df['Hi Salary'].str.replace(r'[kK]$', '000')
    return df

In [164]:
def clean_cname(df):
    df['Company Name'] = df['Company Name'].str.replace('\\n\d\.*\d*','')
    return df

In [165]:
# constraint, for example number employees should be at least 1
# if less than 1, set to 'Unknown'
def RemoveStranger(x):
    x = x.strip()
    if re.match('(^-[1-9]+\d*$)|(^0$)', x):
        return 'Unknown'
    return x

In [166]:
def clean_size(df):
    df['Size'] = df['Size'].apply(RemoveStranger)
    df['Size'] = df['Size'].str.replace(r' employees$', '')
    df['Size'] = df['Size'].str.replace(r'\s*to\s*', ',')
    df[['Lo Em','Hi Em']] = df['Size'].str.split(',', n=1, expand=True)
    df['Lo Em'] = df['Lo Em'].str.replace('+', '')
    df['Hi Em'] = df['Hi Em'].astype(str)
    df['Hi Em'] = df['Hi Em'].str.replace('None', 'Unknown')
    return df

In [167]:
def clean_headquarters(df):
    df.Headquarters = df.Headquarters.apply(RemoveStranger)
    return df

In [168]:
def clean_industry(df):
    df.Industry = df.Industry.apply(RemoveStranger)
    return df

In [169]:
def clean_sector(df):
    df.Sector = df.Sector.apply(RemoveStranger)
    return df

In [170]:
def clean_rev(df):
    df.Revenue = df.Revenue.apply(RemoveStranger)
    df.Revenue.astype('str')
    def preliminary_clean(x):
        x = x.strip()
    #     pat = r'^(Less than)*[^0-9]*(\d*)(\+)*[^0-9a-z]*(million|billion)*[^0-9]*(\d+)*[^0-9a-z]*(million|billion)'
        pat = r'^(Less than)*[^0-9]*(\d*)[^0-9a-z]*(million|billion)*[^0-9]*(\d+)*[^0-9a-z]*(million|billion)'
        m = re.match(pat, x, re.I)
        res = ''
        if m:
            if m.group(1):
                res += str(m.group(1))
            if m.group(2):
                lo_r = int(m.group(2))
            if m.group(3):
                lo_r *= int(r_dic[str(m.group(3))])
                res += str(lo_r)
            if m.group(3) == None:
                lo_r *= int(r_dic[str(m.group(5))])
                res += str(lo_r)            
    #         if m.group(3):
    #             res += str(m.group(3))
            if m.group(4):
                res+=','
                hi_r = int(m.group(4))
                hi_r *= int(r_dic[str(m.group(5))])
                res += str(hi_r)
        else:
            res = 'Unknown'
        return res

    df.Revenue = df.Revenue.apply(preliminary_clean)
    
    df[['Lo Rev', 'Hi Rev']] = df.Revenue.str.split(',', expand=True)

    df['Hi Rev'] = df['Hi Rev'].astype(str)
    for i, v in enumerate (df['Hi Rev'].values):
        v = v.strip()
        if v == 'None':
            if 'Less than' in df['Lo Rev'][i]:
                v = df['Lo Rev'][i].strip('Less than')
                df.loc[i,'Lo Rev'] = 'Unknown'
            elif df['Lo Rev'][i] != 'Unknown':
                v = df['Lo Rev'][i]
            else:    
                v = 'Unknown'
        df.loc[i,'Hi Rev'] = v
    return df

In [171]:
def discretization_bs(df):
    df['Lo Rev'] = df['Lo Rev'].str.replace('Unknown', '-1')
    df['Hi Rev'] = df['Hi Rev'].str.replace('Unknown', '-1')
    df['Lo Em'] = df['Lo Em'].str.replace('Unknown', '-1')
    df['Hi Em'] = df['Hi Em'].str.replace('Unknown', '-1')
    df['Lo Rev'] = df['Lo Rev'].astype('int64')
    df['Hi Rev'] = df['Hi Rev'].astype('int64')
    df['Lo Em'] = df['Lo Em'].astype('int64')
    df['Hi Em'] = df['Hi Em'].astype('int64')
    
    df['BS_R'] = pd.cut(x=df['Hi Rev'],
                        bins=[-2, 0, 2000000, 10000000, 50000000, 100000000000],
                        labels=['Other','Micro','Small', 'Medium', 'Large'])
    df['BS_E'] = pd.cut(x=df['Hi Em'],
                        bins=[-2, 0, 10, 50, 250, 10000],
                        labels=['Other','Micro','Small', 'Medium', 'Large'])
    return df

In [172]:
def clean(File_Path):
    df = read_data(File_Path)
    df = clean_salary(df)
    df = clean_cname(df)
    df = clean_size(df)
    df = clean_headquarters(df)
    df = clean_industry(df)
    df = clean_sector(df)
    df = clean_rev(df)
    df = discretization_bs(df)
    return df

In [173]:
def data_preprocessing():
    data_list = []
    for path in File_Path:
        data_list.append(clean(path))
    data = pd.concat(data_list)
    data.reset_index()
    data.drop(['Unnamed: 0', 'index'],axis=1,inplace=True)
    data.to_csv(Save_Path)
    return data

In [174]:
data = data_preprocessing()

In [175]:
len(data)

8690

In [176]:
data.head(100)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Lo Salary,Hi Salary,Lo Em,Hi Em,Lo Rev,Hi Rev,BS_R,BS_E
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice,"New York, NY","New York, NY","201,500",1961,Nonprofit Organization,Social Assistance,Non-Profit,"100000000,500000000",-1,True,37000,66000,201,500,100000000,500000000,Large,Large
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York,"New York, NY","New York, NY",10000+,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,"2000000000,5000000000",-1,-1,37000,66000,10000,-1,2000000000,5000000000,Large,Other
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace,"New York, NY","New York, NY","1001,5000",2003,Company - Private,Internet,Information Technology,Unknown,GoDaddy,-1,37000,66000,1001,5000,-1,-1,Other,Large
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity,"New York, NY","McLean, VA","201,500",2002,Subsidiary or Business Segment,IT Services,Information Technology,"50000000,100000000",-1,-1,37000,66000,201,500,50000000,100000000,Large,Large
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel,"New York, NY","New York, NY","501,1000",2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation","100000000,500000000",DraftKings,True,37000,66000,501,1000,100000000,500000000,Large,Large
5,Data Analyst,$37K-$66K (Glassdoor est.),About Cubist\nCubist Systematic Strategies is ...,3.9,Point72,"New York, NY","Stamford, CT","1001,5000",2014,Company - Private,Investment Banking & Asset Management,Finance,Unknown,-1,-1,37000,66000,1001,5000,-1,-1,Other,Large
6,Business/Data Analyst (FP&A),$37K-$66K (Glassdoor est.),Two Sigma is a different kind of investment ma...,4.4,Two Sigma,"New York, NY","New York, NY","1001,5000",2001,Company - Private,Investment Banking & Asset Management,Finance,Unknown,-1,-1,37000,66000,1001,5000,-1,-1,Other,Large
7,Data Science Analyst,$37K-$66K (Glassdoor est.),Data Science Analyst\n\nJob Details\nLevel\nEx...,3.7,GNY Insurance Companies,"New York, NY","New York, NY","201,500",1914,Company - Private,Insurance Carriers,Insurance,"100000000,500000000","Travelers, Chubb, Crum & Forster",True,37000,66000,201,500,100000000,500000000,Large,Large
8,Data Analyst,$37K-$66K (Glassdoor est.),The Data Analyst is an integral member of the ...,4.0,DMGT,"New York, NY","London, United Kingdom","5001,10000",1896,Company - Public,Venture Capital & Private Equity,Finance,"1000000000,2000000000","Thomson Reuters, Hearst, Pearson",-1,37000,66000,5001,10000,1000000000,2000000000,Large,Large
9,"Data Analyst, Merchant Health",$37K-$66K (Glassdoor est.),About Us\n\nRiskified is the AI platform power...,4.4,Riskified,"New York, NY","New York, NY","501,1000",2013,Company - Private,Research & Development,Business Services,Unknown,"Signifyd, Forter",-1,37000,66000,501,1000,-1,-1,Other,Large
10,Data Analyst,$37K-$66K (Glassdoor est.),NYU Grossman School of Medicine is one of the ...,4.0,NYU Langone Health,"New York, NY","New York, NY",10000+,1841,Hospital,Health Care Services & Hospitals,Health Care,"5000000000,10000000000","NewYork-Presbyterian Hospital, Northwell Health",-1,37000,66000,10000,-1,5000000000,10000000000,Large,Other
11,Data Analyst,$37K-$66K (Glassdoor est.),BulbHead is currently seeking a Data Analyst t...,-1.0,BulbHead,"Fairfield, NJ",Unknown,"1,50",-1,Company - Private,Unknown,Unknown,Unknown,-1,-1,37000,66000,1,50,-1,-1,Other,Small
12,DATA ANALYST,$37K-$66K (Glassdoor est.),Job Summary:\n\nThe Clinical Research Data Ana...,3.7,Montefiore Medical,"New York, NY","Bronx, NY",10000+,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,"2000000000,5000000000",-1,-1,37000,66000,10000,-1,2000000000,5000000000,Large,Other
13,Senior Data Analyst,$37K-$66K (Glassdoor est.),About Known\n\nKnown is a modern marketing com...,3.0,Known,"New York, NY","New York, NY","201,500",2004,Company - Private,Advertising & Marketing,Business Services,"100000000,500000000",-1,True,37000,66000,201,500,100000000,500000000,Large,Large
14,Investment Advisory Data Analyst,$37K-$66K (Glassdoor est.),Investment Advisory Compliance Opportunity in ...,3.4,Advisor Group,"Jersey City, NJ","Phoenix, AZ","1001,5000",2016,Company - Private,Brokerage Services,Finance,"1000000,5000000",-1,-1,37000,66000,1001,5000,1000000,5000000,Small,Large
15,Sustainability Data Analyst,$37K-$66K (Glassdoor est.),Job Description\nRole Description\n\nSustainab...,3.6,CodeGreen Solutions,"New York, NY","New York, NY","1,50",-1,Company - Private,Building & Personnel Services,Business Services,Unknown,-1,-1,37000,66000,1,50,-1,-1,Other,Small
16,Data Analyst,$37K-$66K (Glassdoor est.),Undertone stands alone among AdTech and ad net...,3.8,Undertone,"New York, NY","New York, NY","201,500",2001,Subsidiary or Business Segment,Advertising & Marketing,Business Services,Unknown,"DoubleClick, Specific Media, Collective",True,37000,66000,201,500,-1,-1,Other,Large
17,Clinical Data Analyst,$37K-$66K (Glassdoor est.),About Us:\n\nNYSTEC is a non-profit technology...,3.8,NYSTEC,"New York, NY","Rome, NY","51,200",1996,Nonprofit Organization,Consulting,Business Services,"25000000,50000000","KPMG, Accenture, Deloitte",-1,37000,66000,51,200,25000000,50000000,Medium,Medium
18,DATA PROGRAMMER/ANALYST,$37K-$66K (Glassdoor est.),Company Description\n\nEDUCATION DEVELOPMENT C...,3.9,"Education Development Center, Inc.","New York, NY","Waltham, MA","501,1000",1958,Nonprofit Organization,Research & Development,Business Services,"100000000,500000000",-1,-1,37000,66000,501,1000,100000000,500000000,Large,Large
19,Data Analyst,$37K-$66K (Glassdoor est.),"About Us\n\nAt Teachers Pay Teachers (TpT), we...",4.9,Teachers Pay Teachers,"New York, NY","New York, NY","51,200",2006,Company - Private,Internet,Information Technology,Unknown,-1,-1,37000,66000,51,200,-1,-1,Other,Medium
20,"Product Analyst, Data Science",$37K-$66K (Glassdoor est.),Note: By applying to this position your applic...,4.4,Google,"New York, NY","Mountain View, CA",10000+,1998,Company - Public,Internet,Information Technology,10000000000,"Microsoft, Apple, Facebook",-1,37000,66000,10000,-1,10000000000,10000000000,Large,Other
21,Data Science Analyst,$37K-$66K (Glassdoor est.),"Job Description\nOur client, a music streaming...",-1.0,MUSIC & Entertainment,"New York, NY","Marina del Rey, CA",Unknown,-1,Company - Public,Unknown,Unknown,Unknown,-1,-1,37000,66000,-1,-1,-1,-1,Other,Other
22,Data Analyst - Intex Developer,$37K-$66K (Glassdoor est.),Data Analyst - Intex Developer\n\n\nNew York\n...,3.3,Macquarie Group,"New York, NY","Sydney, Australia",10000+,1969,Company - Public,Investment Banking & Asset Management,Finance,"5000000000,10000000000","Goldman Sachs, Commonwealth Bank of Australia,...",-1,37000,66000,10000,-1,5000000000,10000000000,Large,Other
23,Data Analyst,$37K-$66K (Glassdoor est.),Haven Life is an insurtech innovator at MassMu...,3.5,Andiamo,"New York, NY","Warren, MI","201,500",-1,Company - Private,Casual Restaurants,"Restaurants, Bars & Food Services","1000000,5000000",-1,-1,37000,66000,201,500,1000000,5000000,Small,Large
24,Entry Level / Jr. Data Analyst,$37K-$66K (Glassdoor est.),Dash Technologies is an industry leading softw...,3.8,Dash Technologies Inc,"New York, NY","Columbus, OH","1,50",-1,Unknown,Unknown,Unknown,Unknown,-1,-1,37000,66000,1,50,-1,-1,Other,Small
25,Data Analyst,$37K-$66K (Glassdoor est.),Data Analyst (Decision Science)\n\nHearst is a...,4.0,Hearst Communications,"New York, NY","San Francisco, CA","1,50",-1,Company - Private,Advertising & Marketing,Business Services,Less than1000000,-1,-1,37000,66000,1,50,-1,1000000,Micro,Small
26,Data + Business Intelligence Analyst,$37K-$66K (Glassdoor est.),We are building Duolingo's newly formed FP&A /...,5.0,Duolingo,"New York, NY","Pittsburgh, PA","201,500",2011,Company - Private,Internet,Information Technology,"10000000,25000000",-1,-1,37000,66000,201,500,10000000,25000000,Medium,Large
27,"Data Analyst, Product",$37K-$66K (Glassdoor est.),"About Ro\nFounded in 2017, Ro is a patient-dri...",4.8,Ro,"New York, NY","New York, NY","51,200",2017,Company - Private,Health Care Services & Hospitals,Health Care,Unknown,-1,-1,37000,66000,51,200,-1,-1,Other,Medium
28,Data Analyst Entry Level,$37K-$66K (Glassdoor est.),Type: Paid Intern (in a farm team)\n\nFunction...,3.7,Endai,"New York, NY","New York, NY","1,50",-1,Company - Private,Advertising & Marketing,Business Services,"1000000,5000000",-1,-1,37000,66000,1,50,1000000,5000000,Small,Small
29,Data Analyst,$37K-$66K (Glassdoor est.),The Company\n\nBlueLabs is a leading provider ...,4.7,BlueLabs,"New York, NY","Washington, DC","1,50",-1,Company - Private,Research & Development,Business Services,Unknown,-1,-1,37000,66000,1,50,-1,-1,Other,Small
30,Data Analyst,$46K-$87K (Glassdoor est.),Our Mission\n\nMove people.\n\nOur Values\n\nW...,3.6,Revel,"Brooklyn, NY","Seattle, WA","51,200",2005,Company - Private,Consulting,Business Services,"25000000,50000000",-1,True,46000,87000,51,200,25000000,50000000,Medium,Medium
31,Data Analyst,$46K-$87K (Glassdoor est.),"Data Analyst Jersey City, NJ 12+ months contra...",3.6,NALLAS CORPORATION,"Jersey City, NJ","Newtown, PA","1,50",-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,"1000000,5000000",-1,-1,46000,87000,1,50,1000000,5000000,Small,Small
32,Data Analyst,$46K-$87K (Glassdoor est.),Job Description:\nLegal experience is required...,3.5,Pozent,"New York, NY","Piscataway, NJ","1,50",-1,Contract,Unknown,Unknown,Less than1000000,-1,-1,46000,87000,1,50,-1,1000000,Micro,Small
33,"Data Science Analyst, Capital Markets",$46K-$87K (Glassdoor est.),Who we are\n\nSoFi is a digital personal finan...,3.2,SoFi,"New York, NY","San Francisco, CA","1001,5000",2011,Company - Private,Lending,Finance,Unknown,-1,-1,46000,87000,1001,5000,-1,-1,Other,Large
34,Data Analyst (Games),$46K-$87K (Glassdoor est.),Carry1st is the leading mobile game publisher ...,-1.0,Carry1st,"New York, NY",Unknown,Unknown,-1,-1,Unknown,Unknown,Unknown,-1,-1,46000,87000,-1,-1,-1,-1,Other,Other
35,Analyst/Associate Global Markets Credit Data A...,$46K-$87K (Glassdoor est.),"Job Description:\n\nWithin GMC, Data & Portfol...",3.7,Bank of America,"New York, NY","Charlotte, NC",10000+,1904,Company - Public,Banks & Credit Unions,Finance,10000000000,-1,-1,46000,87000,10000,-1,10000000000,10000000000,Large,Other
36,Data Business Analyst,$46K-$87K (Glassdoor est.),"At Clear Street, we are disrupting the institu...",-1.0,Clear Street,"New York, NY","New York, NY","51,200",2018,Company - Public,Unknown,Unknown,"1000000,5000000",-1,-1,46000,87000,51,200,1000000,5000000,Small,Medium
37,Data Analyst with Excel/DAX/ PowerBI experienc...,$46K-$87K (Glassdoor est.),"If interested, please reach out to Iram Shah e...",3.6,Nutech Information Systems,"New York, NY","Westmont, IL","1,50",-1,Company - Private,Computer Hardware & Software,Information Technology,Less than1000000,-1,-1,46000,87000,1,50,-1,1000000,Micro,Small
38,Data Science Analyst/Engineer,$46K-$87K (Glassdoor est.),NYU Grossman School of Medicine is one of the ...,4.0,NYU Langone Health,"New York, NY","New York, NY",10000+,1841,Hospital,Health Care Services & Hospitals,Health Care,"5000000000,10000000000","NewYork-Presbyterian Hospital, Northwell Health",-1,46000,87000,10000,-1,5000000000,10000000000,Large,Other
39,Data Analyst,$46K-$87K (Glassdoor est.),Role: Data Analyst\n\nReports to: Manager of O...,4.6,The Trevor Project,"New York, NY","West Hollywood, CA","51,200",-1,Nonprofit Organization,Social Assistance,Non-Profit,"10000000,25000000",-1,-1,46000,87000,51,200,10000000,25000000,Medium,Medium
40,"Business Analyst, Data Platforms",$46K-$87K (Glassdoor est.),Company Description\n\nPinto is building the w...,-1.0,Pinto,"New York, NY","New York, NY","1,50",-1,Company - Private,Unknown,Unknown,Unknown,-1,-1,46000,87000,1,50,-1,-1,Other,Small
41,Behavioral Data Analyst,$46K-$87K (Glassdoor est.),About AB InBev\n\nAB InBev is the leading glob...,-1.0,AB InBev,"New York, NY","Kyiv, Ukraine","1001,5000",-1,Company - Public,Unknown,Unknown,Unknown,-1,-1,46000,87000,1001,5000,-1,-1,Other,Large
42,Data Analyst,$46K-$87K (Glassdoor est.),"Whip Media Group's products, including Mediamo...",5.0,Whip Media Group,"New York, NY","Santa Monica, CA","51,200",2016,Company - Private,Unknown,Unknown,Unknown,-1,-1,46000,87000,51,200,-1,-1,Other,Medium
43,Data Analyst -1+ year Contract - NYC,$46K-$87K (Glassdoor est.),Title: Data Analyst\n\nPosition: 1+ Year Contr...,4.0,Two95 International Inc.,"New York, NY","Cherry Hill, NJ","1,50",-1,Company - Private,Staffing & Outsourcing,Business Services,"1000000,5000000",-1,-1,46000,87000,1,50,1000000,5000000,Small,Small
44,Data Analyst,$46K-$87K (Glassdoor est.),Vettery is changing the way people hire and ge...,3.0,Vettery,"New York, NY","New York, NY","201,500",2013,Company - Private,Internet,Information Technology,Unknown,"Hired, Indeed, AngelList",-1,46000,87000,201,500,-1,-1,Other,Large
45,Data Analyst,$46K-$87K (Glassdoor est.),Non-Exempt*\nSchedule: Can be 8a.m. â€“ 5p.m. or...,2.9,"Nesco Resource, LLC","New York, NY","Cleveland, OH","1001,5000",1956,Company - Private,Staffing & Outsourcing,Business Services,"500000000,1000000000",-1,-1,46000,87000,1001,5000,500000000,1000000000,Large,Large
46,Advertising Data Analyst,$46K-$87K (Glassdoor est.),Advertising Data AnalystHearst Television is s...,4.0,Hearst Communications,"New York, NY","San Francisco, CA","1,50",-1,Company - Private,Advertising & Marketing,Business Services,Less than1000000,-1,-1,46000,87000,1,50,-1,1000000,Micro,Small
47,Data Analyst,$46K-$87K (Glassdoor est.),MediaMath is a leading global independent adve...,3.6,MediaMath,"New York, NY","New York, NY","501,1000",2007,Company - Private,Advertising & Marketing,Business Services,"100000000,500000000","Criteo, AppNexus, dataxu",True,46000,87000,501,1000,100000000,500000000,Large,Large
48,Market Data Reporting Analyst,$46K-$87K (Glassdoor est.),Employment PermanentApply\nStart Date Immediat...,4.9,Jordan & Jordan,"New York, NY","New York, NY","1,50",1990,Company - Private,Brokerage Services,Finance,Unknown,-1,-1,46000,87000,1,50,-1,-1,Other,Small
49,"Senior Analyst, Data Science",$46K-$87K (Glassdoor est.),The Role:\n\nRoku is looking for a Senior Anal...,3.9,Roku,"New York, NY","San Jose, CA","1001,5000",2002,Company - Public,IT Services,Information Technology,"500000000,1000000000",-1,-1,46000,87000,1001,5000,500000000,1000000000,Large,Large
50,"Senior Data Analyst, Disney+",$46K-$87K (Glassdoor est.),Job Summary:Comprised of Disney's internationa...,4.0,Walt Disney Co.,"New York, NY","Burbank, CA",10000+,1923,Company - Public,Motion Picture Production & Distribution,Media,10000000000,"News Corp, WarnerMedia, NBCUniversal",-1,46000,87000,10000,-1,10000000000,10000000000,Large,Other
51,"Office of the CAO | Reference Data, Project Ma...",$46K-$87K (Glassdoor est.),Job Description\n\nThe Team:\n\n\nWe are looki...,3.8,Citadel,"New York, NY","Chicago, IL","1001,5000",1990,Company - Private,Unknown,Unknown,"50000000,100000000","Soros Fund Management, D. E. Shaw & Co. - Inve...",-1,46000,87000,1001,5000,50000000,100000000,Large,Large
52,Business Data Analyst,$46K-$87K (Glassdoor est.),"Summary Data Analysis, Financial Products basi...",3.7,Xoriant Corporation,"Jersey City, NJ","Sunnyvale, CA","1001,5000",1990,Company - Private,IT Services,Information Technology,"100000000,500000000","Persistent Systems (India), GlobalLogic, Synec...",-1,46000,87000,1001,5000,100000000,500000000,Large,Large
53,Senior Data Analyst,$46K-$87K (Glassdoor est.),Help us Build the Future of Money\n\nGemini Tr...,3.6,Gemini,"New York, NY","New York, NY","51,200",2015,Company - Private,Brokerage Services,Finance,Unknown,-1,-1,46000,87000,51,200,-1,-1,Other,Medium
54,Data Scientist / Big Data Analytics Analyst,$46K-$87K (Glassdoor est.),TSR is a premier National U.S. Staffing compan...,3.6,"TSR, Inc.","Weehawken, NJ","Hauppauge, NY","201,500",1969,Company - Public,Staffing & Outsourcing,Business Services,"50000000,100000000",-1,-1,46000,87000,201,500,50000000,100000000,Large,Large
55,Data Reporting Analyst,$46K-$87K (Glassdoor est.),OverviewThe Data Analyst is a new position in ...,-1.0,NADAP NYS INC.,"New York, NY",Unknown,Unknown,-1,-1,Unknown,Unknown,Unknown,-1,-1,46000,87000,-1,-1,-1,-1,Other,Other
56,"Principal Data Analyst, LATAM - Disney Streami...",$46K-$87K (Glassdoor est.),Job Summary:Comprised of Disney's internationa...,4.0,Walt Disney Co.,"New York, NY","Burbank, CA",10000+,1923,Company - Public,Motion Picture Production & Distribution,Media,10000000000,"News Corp, WarnerMedia, NBCUniversal",-1,46000,87000,10000,-1,10000000000,10000000000,Large,Other
57,Data Analyst II,$46K-$87K (Glassdoor est.),Job Description\n\nOur NY office is seeking a ...,3.2,Fragomen Worldwide,"New York, NY","New York, NY","1001,5000",1951,Company - Private,Legal,Accounting & Legal,"500000000,1000000000",-1,-1,46000,87000,1001,5000,500000000,1000000000,Large,Large
58,"Data Analyst - Environmental, Social, and Gove...",$46K-$87K (Glassdoor est.),"Job Requisition Number:82982\n\nAt Bloomberg, ...",3.8,Bloomberg,"New York, NY","New York, NY",10000+,1981,Company - Private,Computer Hardware & Software,Information Technology,Unknown,"Google, Goldman Sachs, Thomson Reuters",-1,46000,87000,10000,-1,-1,-1,Other,Other
59,Data Analyst,$46K-$87K (Glassdoor est.),Data Analyst (New York)\n\nAddThis Sharing But...,3.9,Real Capital Analytics,"New York, NY","New York, NY","51,200",2000,Company - Private,Real Estate,Real Estate,"25000000,50000000",-1,-1,46000,87000,51,200,25000000,50000000,Medium,Medium
60,"Data Analyst, Revenue Analytics",$51K-$88K (Glassdoor est.),"About Ro\nFounded in 2017, Ro is a patient-dri...",4.8,Ro,"New York, NY","New York, NY","51,200",2017,Company - Private,Health Care Services & Hospitals,Health Care,Unknown,-1,-1,51000,88000,51,200,-1,-1,Other,Medium
61,Data Analyst - Data Acquisition / Data Lineage,$51K-$88K (Glassdoor est.),OverviewAt Perficient you'll deliver mission-c...,3.6,Perficient,"New York, NY","Saint Louis, MO","1001,5000",1998,Company - Public,IT Services,Information Technology,"500000000,1000000000",-1,-1,51000,88000,1001,5000,500000000,1000000000,Large,Large
62,Data Analyst - Data Scanning utilizing Rochade,$51K-$88K (Glassdoor est.),OverviewAt Perficient you'll deliver mission-c...,3.6,Perficient,"New York, NY","Saint Louis, MO","1001,5000",1998,Company - Public,IT Services,Information Technology,"500000000,1000000000",-1,-1,51000,88000,1001,5000,500000000,1000000000,Large,Large
63,Data Analyst - Stitching,$51K-$88K (Glassdoor est.),OverviewAt Perficient you'll deliver mission-c...,3.6,Perficient,"New York, NY","Saint Louis, MO","1001,5000",1998,Company - Public,IT Services,Information Technology,"500000000,1000000000",-1,-1,51000,88000,1001,5000,500000000,1000000000,Large,Large
64,Junior Data Analyst,$51K-$88K (Glassdoor est.),RESPONSIBILITIES:\n\nKforce has a client in se...,4.1,Kforce,"New York, NY","Tampa, FL",10000+,1966,Company - Public,Staffing & Outsourcing,Business Services,"1000000000,2000000000",-1,-1,51000,88000,10000,-1,1000000000,2000000000,Large,Other
65,"Data Analyst, Retail Media",$51K-$88K (Glassdoor est.),Who we are\nCriteo (NASDAQ: CRTO) is the globa...,3.9,Criteo,"New York, NY","Paris, France","1001,5000",2005,Company - Public,Internet,Information Technology,"2000000000,5000000000","MediaMath, Conversant, AppNexus",-1,51000,88000,1001,5000,2000000000,5000000000,Large,Large