In [39]:
import numpy as np
import pandas as pd
import re
from numpy.random import default_rng
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_columns',100) 
pd.set_option('max_rows',500)  
File_Path = 'DataAnalyst.csv'

In [40]:
df = pd.read_csv(File_Path)
df.head(400)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
5,5,Data Analyst,$37K-$66K (Glassdoor est.),About Cubist\nCubist Systematic Strategies is ...,3.9,Point72\n3.9,"New York, NY","Stamford, CT",1001 to 5000 employees,2014,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
6,6,Business/Data Analyst (FP&A),$37K-$66K (Glassdoor est.),Two Sigma is a different kind of investment ma...,4.4,Two Sigma\n4.4,"New York, NY","New York, NY",1001 to 5000 employees,2001,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
7,7,Data Science Analyst,$37K-$66K (Glassdoor est.),Data Science Analyst\n\nJob Details\nLevel\nEx...,3.7,GNY Insurance Companies\n3.7,"New York, NY","New York, NY",201 to 500 employees,1914,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),"Travelers, Chubb, Crum & Forster",True
8,8,Data Analyst,$37K-$66K (Glassdoor est.),The Data Analyst is an integral member of the ...,4.0,DMGT\n4.0,"New York, NY","London, United Kingdom",5001 to 10000 employees,1896,Company - Public,Venture Capital & Private Equity,Finance,$1 to $2 billion (USD),"Thomson Reuters, Hearst, Pearson",-1
9,9,"Data Analyst, Merchant Health",$37K-$66K (Glassdoor est.),About Us\n\nRiskified is the AI platform power...,4.4,Riskified\n4.4,"New York, NY","New York, NY",501 to 1000 employees,2013,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,"Signifyd, Forter",-1
10,10,Data Analyst,$37K-$66K (Glassdoor est.),NYU Grossman School of Medicine is one of the ...,4.0,NYU Langone Health\n4.0,"New York, NY","New York, NY",10000+ employees,1841,Hospital,Health Care Services & Hospitals,Health Care,$5 to $10 billion (USD),"NewYork-Presbyterian Hospital, Northwell Health",-1
11,11,Data Analyst,$37K-$66K (Glassdoor est.),BulbHead is currently seeking a Data Analyst t...,-1.0,BulbHead,"Fairfield, NJ",-1,1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1
12,12,DATA ANALYST,$37K-$66K (Glassdoor est.),Job Summary:\n\nThe Clinical Research Data Ana...,3.7,Montefiore Medical\n3.7,"New York, NY","Bronx, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
13,13,Senior Data Analyst,$37K-$66K (Glassdoor est.),About Known\n\nKnown is a modern marketing com...,3.0,Known\n3.0,"New York, NY","New York, NY",201 to 500 employees,2004,Company - Private,Advertising & Marketing,Business Services,$100 to $500 million (USD),-1,True
14,14,Investment Advisory Data Analyst,$37K-$66K (Glassdoor est.),Investment Advisory Compliance Opportunity in ...,3.4,Advisor Group\n3.4,"Jersey City, NJ","Phoenix, AZ",1001 to 5000 employees,2016,Company - Private,Brokerage Services,Finance,$1 to $5 million (USD),-1,-1
15,15,Sustainability Data Analyst,$37K-$66K (Glassdoor est.),Job Description\nRole Description\n\nSustainab...,3.6,CodeGreen Solutions\n3.6,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Building & Personnel Services,Business Services,Unknown / Non-Applicable,-1,-1
16,16,Data Analyst,$37K-$66K (Glassdoor est.),Undertone stands alone among AdTech and ad net...,3.8,Undertone\n3.8,"New York, NY","New York, NY",201 to 500 employees,2001,Subsidiary or Business Segment,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"DoubleClick, Specific Media, Collective",True
17,17,Clinical Data Analyst,$37K-$66K (Glassdoor est.),About Us:\n\nNYSTEC is a non-profit technology...,3.8,NYSTEC\n3.8,"New York, NY","Rome, NY",51 to 200 employees,1996,Nonprofit Organization,Consulting,Business Services,$25 to $50 million (USD),"KPMG, Accenture, Deloitte",-1
18,18,DATA PROGRAMMER/ANALYST,$37K-$66K (Glassdoor est.),Company Description\n\nEDUCATION DEVELOPMENT C...,3.9,"Education Development Center, Inc.\n3.9","New York, NY","Waltham, MA",501 to 1000 employees,1958,Nonprofit Organization,Research & Development,Business Services,$100 to $500 million (USD),-1,-1
19,19,Data Analyst,$37K-$66K (Glassdoor est.),"About Us\n\nAt Teachers Pay Teachers (TpT), we...",4.9,Teachers Pay Teachers\n4.9,"New York, NY","New York, NY",51 to 200 employees,2006,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,-1
20,20,"Product Analyst, Data Science",$37K-$66K (Glassdoor est.),Note: By applying to this position your applic...,4.4,Google\n4.4,"New York, NY","Mountain View, CA",10000+ employees,1998,Company - Public,Internet,Information Technology,$10+ billion (USD),"Microsoft, Apple, Facebook",-1
21,21,Data Science Analyst,$37K-$66K (Glassdoor est.),"Job Description\nOur client, a music streaming...",-1.0,MUSIC & Entertainment,"New York, NY","Marina del Rey, CA",Unknown,-1,Company - Public,-1,-1,Unknown / Non-Applicable,-1,-1
22,22,Data Analyst - Intex Developer,$37K-$66K (Glassdoor est.),Data Analyst - Intex Developer\n\n\nNew York\n...,3.3,Macquarie Group\n3.3,"New York, NY","Sydney, Australia",10000+ employees,1969,Company - Public,Investment Banking & Asset Management,Finance,$5 to $10 billion (USD),"Goldman Sachs, Commonwealth Bank of Australia,...",-1
23,23,Data Analyst,$37K-$66K (Glassdoor est.),Haven Life is an insurtech innovator at MassMu...,3.5,Andiamo\n3.5,"New York, NY","Warren, MI",201 to 500 employees,-1,Company - Private,Casual Restaurants,"Restaurants, Bars & Food Services",$1 to $5 million (USD),-1,-1
24,24,Entry Level / Jr. Data Analyst,$37K-$66K (Glassdoor est.),Dash Technologies is an industry leading softw...,3.8,Dash Technologies Inc\n3.8,"New York, NY","Columbus, OH",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,-1
25,25,Data Analyst,$37K-$66K (Glassdoor est.),Data Analyst (Decision Science)\n\nHearst is a...,4.0,Hearst Communications\n4.0,"New York, NY","San Francisco, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,Less than $1 million (USD),-1,-1
26,26,Data + Business Intelligence Analyst,$37K-$66K (Glassdoor est.),We are building Duolingo's newly formed FP&A /...,5.0,Duolingo\n5.0,"New York, NY","Pittsburgh, PA",201 to 500 employees,2011,Company - Private,Internet,Information Technology,$10 to $25 million (USD),-1,-1
27,27,"Data Analyst, Product",$37K-$66K (Glassdoor est.),"About Ro\nFounded in 2017, Ro is a patient-dri...",4.8,Ro\n4.8,"New York, NY","New York, NY",51 to 200 employees,2017,Company - Private,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1,-1
28,28,Data Analyst Entry Level,$37K-$66K (Glassdoor est.),Type: Paid Intern (in a farm team)\n\nFunction...,3.7,Endai\n3.7,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,-1
29,29,Data Analyst,$37K-$66K (Glassdoor est.),The Company\n\nBlueLabs is a leading provider ...,4.7,BlueLabs\n4.7,"New York, NY","Washington, DC",1 to 50 employees,-1,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,-1,-1
30,30,Data Analyst,$46K-$87K (Glassdoor est.),Our Mission\n\nMove people.\n\nOur Values\n\nW...,3.6,Revel\n3.6,"Brooklyn, NY","Seattle, WA",51 to 200 employees,2005,Company - Private,Consulting,Business Services,$25 to $50 million (USD),-1,True
31,31,Data Analyst,$46K-$87K (Glassdoor est.),"Data Analyst Jersey City, NJ 12+ months contra...",3.6,NALLAS CORPORATION\n3.6,"Jersey City, NJ","Newtown, PA",1 to 50 employees,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,$1 to $5 million (USD),-1,-1
32,32,Data Analyst,$46K-$87K (Glassdoor est.),Job Description:\nLegal experience is required...,3.5,Pozent\n3.5,"New York, NY","Piscataway, NJ",1 to 50 employees,-1,Contract,-1,-1,Less than $1 million (USD),-1,-1
33,33,"Data Science Analyst, Capital Markets",$46K-$87K (Glassdoor est.),Who we are\n\nSoFi is a digital personal finan...,3.2,SoFi\n3.2,"New York, NY","San Francisco, CA",1001 to 5000 employees,2011,Company - Private,Lending,Finance,Unknown / Non-Applicable,-1,-1
34,34,Data Analyst (Games),$46K-$87K (Glassdoor est.),Carry1st is the leading mobile game publisher ...,-1.0,Carry1st,"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1,-1
35,35,Analyst/Associate Global Markets Credit Data A...,$46K-$87K (Glassdoor est.),"Job Description:\n\nWithin GMC, Data & Portfol...",3.7,Bank of America\n3.7,"New York, NY","Charlotte, NC",10000+ employees,1904,Company - Public,Banks & Credit Unions,Finance,$10+ billion (USD),-1,-1
36,36,Data Business Analyst,$46K-$87K (Glassdoor est.),"At Clear Street, we are disrupting the institu...",-1.0,Clear Street,"New York, NY","New York, NY",51 to 200 employees,2018,Company - Public,-1,-1,$1 to $5 million (USD),-1,-1
37,37,Data Analyst with Excel/DAX/ PowerBI experienc...,$46K-$87K (Glassdoor est.),"If interested, please reach out to Iram Shah e...",3.6,Nutech Information Systems\n3.6,"New York, NY","Westmont, IL",1 to 50 employees,-1,Company - Private,Computer Hardware & Software,Information Technology,Less than $1 million (USD),-1,-1
38,38,Data Science Analyst/Engineer,$46K-$87K (Glassdoor est.),NYU Grossman School of Medicine is one of the ...,4.0,NYU Langone Health\n4.0,"New York, NY","New York, NY",10000+ employees,1841,Hospital,Health Care Services & Hospitals,Health Care,$5 to $10 billion (USD),"NewYork-Presbyterian Hospital, Northwell Health",-1
39,39,Data Analyst,$46K-$87K (Glassdoor est.),Role: Data Analyst\n\nReports to: Manager of O...,4.6,The Trevor Project\n4.6,"New York, NY","West Hollywood, CA",51 to 200 employees,-1,Nonprofit Organization,Social Assistance,Non-Profit,$10 to $25 million (USD),-1,-1
40,40,"Business Analyst, Data Platforms",$46K-$87K (Glassdoor est.),Company Description\n\nPinto is building the w...,-1.0,Pinto,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1
41,41,Behavioral Data Analyst,$46K-$87K (Glassdoor est.),About AB InBev\n\nAB InBev is the leading glob...,-1.0,AB InBev,"New York, NY","Kyiv, Ukraine",1001 to 5000 employees,-1,Company - Public,-1,-1,Unknown / Non-Applicable,-1,-1
42,42,Data Analyst,$46K-$87K (Glassdoor est.),"Whip Media Group's products, including Mediamo...",5.0,Whip Media Group\n5.0,"New York, NY","Santa Monica, CA",51 to 200 employees,2016,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1
43,43,Data Analyst -1+ year Contract - NYC,$46K-$87K (Glassdoor est.),Title: Data Analyst\n\nPosition: 1+ Year Contr...,4.0,Two95 International Inc.\n4.0,"New York, NY","Cherry Hill, NJ",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$1 to $5 million (USD),-1,-1
44,44,Data Analyst,$46K-$87K (Glassdoor est.),Vettery is changing the way people hire and ge...,3.0,Vettery\n3.0,"New York, NY","New York, NY",201 to 500 employees,2013,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Hired, Indeed, AngelList",-1
45,45,Data Analyst,$46K-$87K (Glassdoor est.),Non-Exempt*\nSchedule: Can be 8a.m. â€“ 5p.m. or...,2.9,"Nesco Resource, LLC\n2.9","New York, NY","Cleveland, OH",1001 to 5000 employees,1956,Company - Private,Staffing & Outsourcing,Business Services,$500 million to $1 billion (USD),-1,-1
46,46,Advertising Data Analyst,$46K-$87K (Glassdoor est.),Advertising Data AnalystHearst Television is s...,4.0,Hearst Communications\n4.0,"New York, NY","San Francisco, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,Less than $1 million (USD),-1,-1
47,47,Data Analyst,$46K-$87K (Glassdoor est.),MediaMath is a leading global independent adve...,3.6,MediaMath\n3.6,"New York, NY","New York, NY",501 to 1000 employees,2007,Company - Private,Advertising & Marketing,Business Services,$100 to $500 million (USD),"Criteo, AppNexus, dataxu",True
48,48,Market Data Reporting Analyst,$46K-$87K (Glassdoor est.),Employment PermanentApply\nStart Date Immediat...,4.9,Jordan & Jordan\n4.9,"New York, NY","New York, NY",1 to 50 employees,1990,Company - Private,Brokerage Services,Finance,Unknown / Non-Applicable,-1,-1
49,49,"Senior Analyst, Data Science",$46K-$87K (Glassdoor est.),The Role:\n\nRoku is looking for a Senior Anal...,3.9,Roku\n3.9,"New York, NY","San Jose, CA",1001 to 5000 employees,2002,Company - Public,IT Services,Information Technology,$500 million to $1 billion (USD),-1,-1
50,50,"Senior Data Analyst, Disney+",$46K-$87K (Glassdoor est.),Job Summary:Comprised of Disney's internationa...,4.0,Walt Disney Co.\n4.0,"New York, NY","Burbank, CA",10000+ employees,1923,Company - Public,Motion Picture Production & Distribution,Media,$10+ billion (USD),"News Corp, WarnerMedia, NBCUniversal",-1
51,51,"Office of the CAO | Reference Data, Project Ma...",$46K-$87K (Glassdoor est.),Job Description\n\nThe Team:\n\n\nWe are looki...,3.8,Citadel\n3.8,"New York, NY","Chicago, IL",1001 to 5000 employees,1990,Company - Private,-1,-1,$50 to $100 million (USD),"Soros Fund Management, D. E. Shaw & Co. - Inve...",-1
52,52,Business Data Analyst,$46K-$87K (Glassdoor est.),"Summary Data Analysis, Financial Products basi...",3.7,Xoriant Corporation\n3.7,"Jersey City, NJ","Sunnyvale, CA",1001 to 5000 employees,1990,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),"Persistent Systems (India), GlobalLogic, Synec...",-1
53,53,Senior Data Analyst,$46K-$87K (Glassdoor est.),Help us Build the Future of Money\n\nGemini Tr...,3.6,Gemini\n3.6,"New York, NY","New York, NY",51 to 200 employees,2015,Company - Private,Brokerage Services,Finance,Unknown / Non-Applicable,-1,-1
54,54,Data Scientist / Big Data Analytics Analyst,$46K-$87K (Glassdoor est.),TSR is a premier National U.S. Staffing compan...,3.6,"TSR, Inc.\n3.6","Weehawken, NJ","Hauppauge, NY",201 to 500 employees,1969,Company - Public,Staffing & Outsourcing,Business Services,$50 to $100 million (USD),-1,-1
55,55,Data Reporting Analyst,$46K-$87K (Glassdoor est.),OverviewThe Data Analyst is a new position in ...,-1.0,NADAP NYS INC.,"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1,-1
56,56,"Principal Data Analyst, LATAM - Disney Streami...",$46K-$87K (Glassdoor est.),Job Summary:Comprised of Disney's internationa...,4.0,Walt Disney Co.\n4.0,"New York, NY","Burbank, CA",10000+ employees,1923,Company - Public,Motion Picture Production & Distribution,Media,$10+ billion (USD),"News Corp, WarnerMedia, NBCUniversal",-1
57,57,Data Analyst II,$46K-$87K (Glassdoor est.),Job Description\n\nOur NY office is seeking a ...,3.2,Fragomen Worldwide\n3.2,"New York, NY","New York, NY",1001 to 5000 employees,1951,Company - Private,Legal,Accounting & Legal,$500 million to $1 billion (USD),-1,-1
58,58,"Data Analyst - Environmental, Social, and Gove...",$46K-$87K (Glassdoor est.),"Job Requisition Number:82982\n\nAt Bloomberg, ...",3.8,Bloomberg\n3.8,"New York, NY","New York, NY",10000+ employees,1981,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,"Google, Goldman Sachs, Thomson Reuters",-1
59,59,Data Analyst,$46K-$87K (Glassdoor est.),Data Analyst (New York)\n\nAddThis Sharing But...,3.9,Real Capital Analytics\n3.9,"New York, NY","New York, NY",51 to 200 employees,2000,Company - Private,Real Estate,Real Estate,$25 to $50 million (USD),-1,-1
60,60,"Data Analyst, Revenue Analytics",$51K-$88K (Glassdoor est.),"About Ro\nFounded in 2017, Ro is a patient-dri...",4.8,Ro\n4.8,"New York, NY","New York, NY",51 to 200 employees,2017,Company - Private,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1,-1
61,61,Data Analyst - Data Acquisition / Data Lineage,$51K-$88K (Glassdoor est.),OverviewAt Perficient you'll deliver mission-c...,3.6,Perficient\n3.6,"New York, NY","Saint Louis, MO",1001 to 5000 employees,1998,Company - Public,IT Services,Information Technology,$500 million to $1 billion (USD),-1,-1
62,62,Data Analyst - Data Scanning utilizing Rochade,$51K-$88K (Glassdoor est.),OverviewAt Perficient you'll deliver mission-c...,3.6,Perficient\n3.6,"New York, NY","Saint Louis, MO",1001 to 5000 employees,1998,Company - Public,IT Services,Information Technology,$500 million to $1 billion (USD),-1,-1
63,63,Data Analyst - Stitching,$51K-$88K (Glassdoor est.),OverviewAt Perficient you'll deliver mission-c...,3.6,Perficient\n3.6,"New York, NY","Saint Louis, MO",1001 to 5000 employees,1998,Company - Public,IT Services,Information Technology,$500 million to $1 billion (USD),-1,-1
64,64,Junior Data Analyst,$51K-$88K (Glassdoor est.),RESPONSIBILITIES:\n\nKforce has a client in se...,4.1,Kforce\n4.1,"New York, NY","Tampa, FL",10000+ employees,1966,Company - Public,Staffing & Outsourcing,Business Services,$1 to $2 billion (USD),-1,-1
65,65,"Data Analyst, Retail Media",$51K-$88K (Glassdoor est.),Who we are\nCriteo (NASDAQ: CRTO) is the globa...,3.9,Criteo\n3.9,"New York, NY","Paris, France",1001 to 5000 employees,2005,Company - Public,Internet,Information Technology,$2 to $5 billion (USD),"MediaMath, Conversant, AppNexus",-1
66,66,Data Analyst,$51K-$88K (Glassdoor est.),Data Analyst Contract New York City Job 440 Pr...,3.0,Royal Communications\n3.0,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1,-1
67,67,Portfolio Data Analyst,$51K-$88K (Glassdoor est.),Summary:\n\nThe International Equity Group man...,3.7,Neuberger Berman\n3.7,"New York, NY","New York, NY",1001 to 5000 employees,1939,Company - Private,Investment Banking & Asset Management,Finance,$500 million to $1 billion (USD),"Fidelity Investments, BlackRock, Putnam Invest...",-1
68,68,Data Science Analyst,$51K-$88K (Glassdoor est.),Job Details\n\nLevel\n\nExperienced\n\nJob Loc...,-1.0,Greater New York Mutual Insurance Companies (GNY),"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1,-1
69,69,Data/Reporting Analyst,$51K-$88K (Glassdoor est.),Position Summary\nA data management/analyst wh...,3.9,Diverse Lynx\n3.9,"New York, NY","Princeton, NJ",501 to 1000 employees,2002,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1,-1
70,70,Data Analyst 2,$51K-$88K (Glassdoor est.),Duration: 5 Months\n\nSchedule: Can be 8a.m. â€“...,3.7,eTeam Inc.\n3.7,"New York, NY","South Plainfield, NJ",51 to 200 employees,1999,Company - Private,Staffing & Outsourcing,Business Services,$50 to $100 million (USD),"Artech Information Systems, Mindlance, Tech Ma...",-1

## Clean Salary Estimate

In [41]:
df['Lo Salary'] = df['Salary Estimate'].str.extract(r'^\s*\$(\d+\.*\d*[kK])[^0-9]', expand=True)
df['Lo Salary'] = df['Lo Salary'].str.replace(r'[kK]$', '000')
df['Hi Salary'] = df['Salary Estimate'].str.extract(r'\s*-\s*\$(\d+\.*\d*[kK])[^0-9]', expand=True)
df['Hi Salary'] = df['Hi Salary'].str.replace(r'[kK]$', '000')
df.drop(['Salary Estimate'], axis=1, inplace=True)

## Clean Company Name

In [42]:
df['Company Name'] = df['Company Name'].str.replace('\\n\d\.*\d*','')

## Clean Size

In [43]:
# constraint, number employees should be at least 1
# if less than 1, set to 'Unknown'
def RemoveStranger(x):
    x = x.strip()
    if re.match('(^-[1-9]+\d*$)|(^0$)', x):
        return 'Unknown'
    return x

df['Size'] = df['Size'].apply(RemoveStranger)
df['Size'] = df['Size'].str.replace(r' employees$', '')
df['Size'] = df['Size'].str.replace(r'\s*to\s*', ',')
df[['Lo Em','Hi Em']] = df['Size'].str.split(',', n=1, expand=True)
df['Lo Em'] = df['Lo Em'].str.replace('+', '')
df['Hi Em'] = df['Hi Em'].astype(str)
df['Hi Em'] = df['Hi Em'].str.replace('None', 'Unknown')
df = df.drop(['Size'],axis=1)

## Clean Headquarters

In [44]:
df.Headquarters = df.Headquarters.apply(RemoveStranger)

## Clean Industry

In [45]:
df.Industry = df.Industry.apply(RemoveStranger)

## Clean Sector

In [46]:
df.Sector = df.Sector.apply(RemoveStranger)

## Clean Revenue

In [47]:
r_dic = {'million': 1000000, 'billion':1000000000}

In [48]:
len(df[df.Revenue.str.contains(r'Unknown / Non-Applicable')])

615

In [49]:
len(df[df.Revenue.str.contains(r'-1')])

163

In [50]:
df.Revenue = df.Revenue.apply(RemoveStranger)

In [51]:
df.Revenue.astype('str')
def preliminary_clean(x):
    x = x.strip()
#     pat = r'^(Less than)*[^0-9]*(\d*)(\+)*[^0-9a-z]*(million|billion)*[^0-9]*(\d+)*[^0-9a-z]*(million|billion)'
    pat = r'^(Less than)*[^0-9]*(\d*)[^0-9a-z]*(million|billion)*[^0-9]*(\d+)*[^0-9a-z]*(million|billion)'
    m = re.match(pat, x, re.I)
    res = ''
    if m:
        if m.group(1):
            res += str(m.group(1))
        if m.group(2):
            lo_r = int(m.group(2))
        if m.group(3):
            lo_r *= int(r_dic[str(m.group(3))])
            res += str(lo_r)
        if m.group(3) == None:
            lo_r *= int(r_dic[str(m.group(5))])
            res += str(lo_r)            
#         if m.group(3):
#             res += str(m.group(3))
        if m.group(4):
            res+=','
            hi_r = int(m.group(4))
            hi_r *= int(r_dic[str(m.group(5))])
            res += str(hi_r)
    else:
        res = 'Unknown'
    return res

df.Revenue = df.Revenue.apply(preliminary_clean)

In [52]:
df[['Lo Rev', 'Hi Rev']] = df.Revenue.str.split(',', expand=True)

df['Hi Rev'] = df['Hi Rev'].astype(str)
for i, v in enumerate (df['Hi Rev'].values):
    v = v.strip()
    if v == 'None':
        if 'Less than' in df['Lo Rev'][i]:
            v = df['Lo Rev'][i].strip('Less than')
            df.loc[i,'Lo Rev'] = 'Unknown'
        elif df['Lo Rev'][i] != 'Unknown':
            v = df['Lo Rev'][i]
        else:    
            v = 'Unknown'
    df.loc[i,'Hi Rev'] = v

In [53]:
df['Lo Rev'] = df['Lo Rev'].str.replace('Unknown', '-1')
df['Hi Rev'] = df['Hi Rev'].str.replace('Unknown', '-1')
df['Lo Em'] = df['Lo Em'].str.replace('Unknown', '-1')
df['Hi Em'] = df['Hi Em'].str.replace('Unknown', '-1')
df['Lo Rev'] = df['Lo Rev'].astype('int64')
df['Hi Rev'] = df['Hi Rev'].astype('int64')
df['Lo Em'] = df['Lo Em'].astype('int64')
df['Hi Em'] = df['Hi Em'].astype('int64')

In [54]:
df['BS_R'] = pd.cut(x=df['Hi Rev'],bins=[-2, 0, 2000000, 10000000, 50000000, 100000000000],labels=['Other','Micro','Small', 'Medium', 'Large'])

In [56]:
df.BS_R.value_counts()

Large     957
Other     778
Medium    242
Small     183
Micro      93
Name: BS_R, dtype: int64

In [57]:
df1 =df[(df['Hi Rev']!=-1) & (df['Hi Em']!=-1)]
df1[['Hi Rev', 'Hi Em']].corr()

          Hi Rev     Hi Em
Hi Rev  1.000000  0.601381
Hi Em   0.601381  1.000000

In [59]:
len(df[df['Hi Em'] == -1])

580

In [62]:
df['BS_E'] = pd.cut(x=df['Hi Em'],bins=[-2, 0, 10, 50, 250, 10000],labels=['Other','Micro','Small', 'Medium', 'Large'])

In [63]:
df.head(400)

,Unnamed: 0,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Lo Salary,Hi Salary,Lo Em,Hi Em,Lo Rev,Hi Rev,BS_R,BS_E
0,0,"Data Analyst, Center on Immigration and Justic...",Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice,"New York, NY","New York, NY",1961,Nonprofit Organization,Social Assistance,Non-Profit,"100000000,500000000",-1,True,37000,66000,201,500,100000000,500000000,Large,Large
1,1,Quality Data Analyst,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York,"New York, NY","New York, NY",1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,"2000000000,5000000000",-1,-1,37000,66000,10000,-1,2000000000,5000000000,Large,Other
2,2,"Senior Data Analyst, Insights & Analytics Team...",Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace,"New York, NY","New York, NY",2003,Company - Private,Internet,Information Technology,Unknown,GoDaddy,-1,37000,66000,1001,5000,-1,-1,Other,Large
3,3,Data Analyst,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity,"New York, NY","McLean, VA",2002,Subsidiary or Business Segment,IT Services,Information Technology,"50000000,100000000",-1,-1,37000,66000,201,500,50000000,100000000,Large,Large
4,4,Reporting Data Analyst,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel,"New York, NY","New York, NY",2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation","100000000,500000000",DraftKings,True,37000,66000,501,1000,100000000,500000000,Large,Large
5,5,Data Analyst,About Cubist\nCubist Systematic Strategies is ...,3.9,Point72,"New York, NY","Stamford, CT",2014,Company - Private,Investment Banking & Asset Management,Finance,Unknown,-1,-1,37000,66000,1001,5000,-1,-1,Other,Large
6,6,Business/Data Analyst (FP&A),Two Sigma is a different kind of investment ma...,4.4,Two Sigma,"New York, NY","New York, NY",2001,Company - Private,Investment Banking & Asset Management,Finance,Unknown,-1,-1,37000,66000,1001,5000,-1,-1,Other,Large
7,7,Data Science Analyst,Data Science Analyst\n\nJob Details\nLevel\nEx...,3.7,GNY Insurance Companies,"New York, NY","New York, NY",1914,Company - Private,Insurance Carriers,Insurance,"100000000,500000000","Travelers, Chubb, Crum & Forster",True,37000,66000,201,500,100000000,500000000,Large,Large
8,8,Data Analyst,The Data Analyst is an integral member of the ...,4.0,DMGT,"New York, NY","London, United Kingdom",1896,Company - Public,Venture Capital & Private Equity,Finance,"1000000000,2000000000","Thomson Reuters, Hearst, Pearson",-1,37000,66000,5001,10000,1000000000,2000000000,Large,Large
9,9,"Data Analyst, Merchant Health",About Us\n\nRiskified is the AI platform power...,4.4,Riskified,"New York, NY","New York, NY",2013,Company - Private,Research & Development,Business Services,Unknown,"Signifyd, Forter",-1,37000,66000,501,1000,-1,-1,Other,Large
10,10,Data Analyst,NYU Grossman School of Medicine is one of the ...,4.0,NYU Langone Health,"New York, NY","New York, NY",1841,Hospital,Health Care Services & Hospitals,Health Care,"5000000000,10000000000","NewYork-Presbyterian Hospital, Northwell Health",-1,37000,66000,10000,-1,5000000000,10000000000,Large,Other
11,11,Data Analyst,BulbHead is currently seeking a Data Analyst t...,-1.0,BulbHead,"Fairfield, NJ",Unknown,-1,Company - Private,Unknown,Unknown,Unknown,-1,-1,37000,66000,1,50,-1,-1,Other,Small
12,12,DATA ANALYST,Job Summary:\n\nThe Clinical Research Data Ana...,3.7,Montefiore Medical,"New York, NY","Bronx, NY",1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,"2000000000,5000000000",-1,-1,37000,66000,10000,-1,2000000000,5000000000,Large,Other
13,13,Senior Data Analyst,About Known\n\nKnown is a modern marketing com...,3.0,Known,"New York, NY","New York, NY",2004,Company - Private,Advertising & Marketing,Business Services,"100000000,500000000",-1,True,37000,66000,201,500,100000000,500000000,Large,Large
14,14,Investment Advisory Data Analyst,Investment Advisory Compliance Opportunity in ...,3.4,Advisor Group,"Jersey City, NJ","Phoenix, AZ",2016,Company - Private,Brokerage Services,Finance,"1000000,5000000",-1,-1,37000,66000,1001,5000,1000000,5000000,Small,Large
15,15,Sustainability Data Analyst,Job Description\nRole Description\n\nSustainab...,3.6,CodeGreen Solutions,"New York, NY","New York, NY",-1,Company - Private,Building & Personnel Services,Business Services,Unknown,-1,-1,37000,66000,1,50,-1,-1,Other,Small
16,16,Data Analyst,Undertone stands alone among AdTech and ad net...,3.8,Undertone,"New York, NY","New York, NY",2001,Subsidiary or Business Segment,Advertising & Marketing,Business Services,Unknown,"DoubleClick, Specific Media, Collective",True,37000,66000,201,500,-1,-1,Other,Large
17,17,Clinical Data Analyst,About Us:\n\nNYSTEC is a non-profit technology...,3.8,NYSTEC,"New York, NY","Rome, NY",1996,Nonprofit Organization,Consulting,Business Services,"25000000,50000000","KPMG, Accenture, Deloitte",-1,37000,66000,51,200,25000000,50000000,Medium,Medium
18,18,DATA PROGRAMMER/ANALYST,Company Description\n\nEDUCATION DEVELOPMENT C...,3.9,"Education Development Center, Inc.","New York, NY","Waltham, MA",1958,Nonprofit Organization,Research & Development,Business Services,"100000000,500000000",-1,-1,37000,66000,501,1000,100000000,500000000,Large,Large
19,19,Data Analyst,"About Us\n\nAt Teachers Pay Teachers (TpT), we...",4.9,Teachers Pay Teachers,"New York, NY","New York, NY",2006,Company - Private,Internet,Information Technology,Unknown,-1,-1,37000,66000,51,200,-1,-1,Other,Medium
20,20,"Product Analyst, Data Science",Note: By applying to this position your applic...,4.4,Google,"New York, NY","Mountain View, CA",1998,Company - Public,Internet,Information Technology,10000000000,"Microsoft, Apple, Facebook",-1,37000,66000,10000,-1,10000000000,10000000000,Large,Other
21,21,Data Science Analyst,"Job Description\nOur client, a music streaming...",-1.0,MUSIC & Entertainment,"New York, NY","Marina del Rey, CA",-1,Company - Public,Unknown,Unknown,Unknown,-1,-1,37000,66000,-1,-1,-1,-1,Other,Other
22,22,Data Analyst - Intex Developer,Data Analyst - Intex Developer\n\n\nNew York\n...,3.3,Macquarie Group,"New York, NY","Sydney, Australia",1969,Company - Public,Investment Banking & Asset Management,Finance,"5000000000,10000000000","Goldman Sachs, Commonwealth Bank of Australia,...",-1,37000,66000,10000,-1,5000000000,10000000000,Large,Other
23,23,Data Analyst,Haven Life is an insurtech innovator at MassMu...,3.5,Andiamo,"New York, NY","Warren, MI",-1,Company - Private,Casual Restaurants,"Restaurants, Bars & Food Services","1000000,5000000",-1,-1,37000,66000,201,500,1000000,5000000,Small,Large
24,24,Entry Level / Jr. Data Analyst,Dash Technologies is an industry leading softw...,3.8,Dash Technologies Inc,"New York, NY","Columbus, OH",-1,Unknown,Unknown,Unknown,Unknown,-1,-1,37000,66000,1,50,-1,-1,Other,Small
25,25,Data Analyst,Data Analyst (Decision Science)\n\nHearst is a...,4.0,Hearst Communications,"New York, NY","San Francisco, CA",-1,Company - Private,Advertising & Marketing,Business Services,Less than1000000,-1,-1,37000,66000,1,50,-1,1000000,Micro,Small
26,26,Data + Business Intelligence Analyst,We are building Duolingo's newly formed FP&A /...,5.0,Duolingo,"New York, NY","Pittsburgh, PA",2011,Company - Private,Internet,Information Technology,"10000000,25000000",-1,-1,37000,66000,201,500,10000000,25000000,Medium,Large
27,27,"Data Analyst, Product","About Ro\nFounded in 2017, Ro is a patient-dri...",4.8,Ro,"New York, NY","New York, NY",2017,Company - Private,Health Care Services & Hospitals,Health Care,Unknown,-1,-1,37000,66000,51,200,-1,-1,Other,Medium
28,28,Data Analyst Entry Level,Type: Paid Intern (in a farm team)\n\nFunction...,3.7,Endai,"New York, NY","New York, NY",-1,Company - Private,Advertising & Marketing,Business Services,"1000000,5000000",-1,-1,37000,66000,1,50,1000000,5000000,Small,Small
29,29,Data Analyst,The Company\n\nBlueLabs is a leading provider ...,4.7,BlueLabs,"New York, NY","Washington, DC",-1,Company - Private,Research & Development,Business Services,Unknown,-1,-1,37000,66000,1,50,-1,-1,Other,Small
30,30,Data Analyst,Our Mission\n\nMove people.\n\nOur Values\n\nW...,3.6,Revel,"Brooklyn, NY","Seattle, WA",2005,Company - Private,Consulting,Business Services,"25000000,50000000",-1,True,46000,87000,51,200,25000000,50000000,Medium,Medium
31,31,Data Analyst,"Data Analyst Jersey City, NJ 12+ months contra...",3.6,NALLAS CORPORATION,"Jersey City, NJ","Newtown, PA",-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,"1000000,5000000",-1,-1,46000,87000,1,50,1000000,5000000,Small,Small
32,32,Data Analyst,Job Description:\nLegal experience is required...,3.5,Pozent,"New York, NY","Piscataway, NJ",-1,Contract,Unknown,Unknown,Less than1000000,-1,-1,46000,87000,1,50,-1,1000000,Micro,Small
33,33,"Data Science Analyst, Capital Markets",Who we are\n\nSoFi is a digital personal finan...,3.2,SoFi,"New York, NY","San Francisco, CA",2011,Company - Private,Lending,Finance,Unknown,-1,-1,46000,87000,1001,5000,-1,-1,Other,Large
34,34,Data Analyst (Games),Carry1st is the leading mobile game publisher ...,-1.0,Carry1st,"New York, NY",Unknown,-1,-1,Unknown,Unknown,Unknown,-1,-1,46000,87000,-1,-1,-1,-1,Other,Other
35,35,Analyst/Associate Global Markets Credit Data A...,"Job Description:\n\nWithin GMC, Data & Portfol...",3.7,Bank of America,"New York, NY","Charlotte, NC",1904,Company - Public,Banks & Credit Unions,Finance,10000000000,-1,-1,46000,87000,10000,-1,10000000000,10000000000,Large,Other
36,36,Data Business Analyst,"At Clear Street, we are disrupting the institu...",-1.0,Clear Street,"New York, NY","New York, NY",2018,Company - Public,Unknown,Unknown,"1000000,5000000",-1,-1,46000,87000,51,200,1000000,5000000,Small,Medium
37,37,Data Analyst with Excel/DAX/ PowerBI experienc...,"If interested, please reach out to Iram Shah e...",3.6,Nutech Information Systems,"New York, NY","Westmont, IL",-1,Company - Private,Computer Hardware & Software,Information Technology,Less than1000000,-1,-1,46000,87000,1,50,-1,1000000,Micro,Small
38,38,Data Science Analyst/Engineer,NYU Grossman School of Medicine is one of the ...,4.0,NYU Langone Health,"New York, NY","New York, NY",1841,Hospital,Health Care Services & Hospitals,Health Care,"5000000000,10000000000","NewYork-Presbyterian Hospital, Northwell Health",-1,46000,87000,10000,-1,5000000000,10000000000,Large,Other
39,39,Data Analyst,Role: Data Analyst\n\nReports to: Manager of O...,4.6,The Trevor Project,"New York, NY","West Hollywood, CA",-1,Nonprofit Organization,Social Assistance,Non-Profit,"10000000,25000000",-1,-1,46000,87000,51,200,10000000,25000000,Medium,Medium
40,40,"Business Analyst, Data Platforms",Company Description\n\nPinto is building the w...,-1.0,Pinto,"New York, NY","New York, NY",-1,Company - Private,Unknown,Unknown,Unknown,-1,-1,46000,87000,1,50,-1,-1,Other,Small
41,41,Behavioral Data Analyst,About AB InBev\n\nAB InBev is the leading glob...,-1.0,AB InBev,"New York, NY","Kyiv, Ukraine",-1,Company - Public,Unknown,Unknown,Unknown,-1,-1,46000,87000,1001,5000,-1,-1,Other,Large
42,42,Data Analyst,"Whip Media Group's products, including Mediamo...",5.0,Whip Media Group,"New York, NY","Santa Monica, CA",2016,Company - Private,Unknown,Unknown,Unknown,-1,-1,46000,87000,51,200,-1,-1,Other,Medium
43,43,Data Analyst -1+ year Contract - NYC,Title: Data Analyst\n\nPosition: 1+ Year Contr...,4.0,Two95 International Inc.,"New York, NY","Cherry Hill, NJ",-1,Company - Private,Staffing & Outsourcing,Business Services,"1000000,5000000",-1,-1,46000,87000,1,50,1000000,5000000,Small,Small
44,44,Data Analyst,Vettery is changing the way people hire and ge...,3.0,Vettery,"New York, NY","New York, NY",2013,Company - Private,Internet,Information Technology,Unknown,"Hired, Indeed, AngelList",-1,46000,87000,201,500,-1,-1,Other,Large
45,45,Data Analyst,Non-Exempt*\nSchedule: Can be 8a.m. â€“ 5p.m. or...,2.9,"Nesco Resource, LLC","New York, NY","Cleveland, OH",1956,Company - Private,Staffing & Outsourcing,Business Services,"500000000,1000000000",-1,-1,46000,87000,1001,5000,500000000,1000000000,Large,Large
46,46,Advertising Data Analyst,Advertising Data AnalystHearst Television is s...,4.0,Hearst Communications,"New York, NY","San Francisco, CA",-1,Company - Private,Advertising & Marketing,Business Services,Less than1000000,-1,-1,46000,87000,1,50,-1,1000000,Micro,Small
47,47,Data Analyst,MediaMath is a leading global independent adve...,3.6,MediaMath,"New York, NY","New York, NY",2007,Company - Private,Advertising & Marketing,Business Services,"100000000,500000000","Criteo, AppNexus, dataxu",True,46000,87000,501,1000,100000000,500000000,Large,Large
48,48,Market Data Reporting Analyst,Employment PermanentApply\nStart Date Immediat...,4.9,Jordan & Jordan,"New York, NY","New York, NY",1990,Company - Private,Brokerage Services,Finance,Unknown,-1,-1,46000,87000,1,50,-1,-1,Other,Small
49,49,"Senior Analyst, Data Science",The Role:\n\nRoku is looking for a Senior Anal...,3.9,Roku,"New York, NY","San Jose, CA",2002,Company - Public,IT Services,Information Technology,"500000000,1000000000",-1,-1,46000,87000,1001,5000,500000000,1000000000,Large,Large
50,50,"Senior Data Analyst, Disney+",Job Summary:Comprised of Disney's internationa...,4.0,Walt Disney Co.,"New York, NY","Burbank, CA",1923,Company - Public,Motion Picture Production & Distribution,Media,10000000000,"News Corp, WarnerMedia, NBCUniversal",-1,46000,87000,10000,-1,10000000000,10000000000,Large,Other
51,51,"Office of the CAO | Reference Data, Project Ma...",Job Description\n\nThe Team:\n\n\nWe are looki...,3.8,Citadel,"New York, NY","Chicago, IL",1990,Company - Private,Unknown,Unknown,"50000000,100000000","Soros Fund Management, D. E. Shaw & Co. - Inve...",-1,46000,87000,1001,5000,50000000,100000000,Large,Large
52,52,Business Data Analyst,"Summary Data Analysis, Financial Products basi...",3.7,Xoriant Corporation,"Jersey City, NJ","Sunnyvale, CA",1990,Company - Private,IT Services,Information Technology,"100000000,500000000","Persistent Systems (India), GlobalLogic, Synec...",-1,46000,87000,1001,5000,100000000,500000000,Large,Large
53,53,Senior Data Analyst,Help us Build the Future of Money\n\nGemini Tr...,3.6,Gemini,"New York, NY","New York, NY",2015,Company - Private,Brokerage Services,Finance,Unknown,-1,-1,46000,87000,51,200,-1,-1,Other,Medium
54,54,Data Scientist / Big Data Analytics Analyst,TSR is a premier National U.S. Staffing compan...,3.6,"TSR, Inc.","Weehawken, NJ","Hauppauge, NY",1969,Company - Public,Staffing & Outsourcing,Business Services,"50000000,100000000",-1,-1,46000,87000,201,500,50000000,100000000,Large,Large
55,55,Data Reporting Analyst,OverviewThe Data Analyst is a new position in ...,-1.0,NADAP NYS INC.,"New York, NY",Unknown,-1,-1,Unknown,Unknown,Unknown,-1,-1,46000,87000,-1,-1,-1,-1,Other,Other
56,56,"Principal Data Analyst, LATAM - Disney Streami...",Job Summary:Comprised of Disney's internationa...,4.0,Walt Disney Co.,"New York, NY","Burbank, CA",1923,Company - Public,Motion Picture Production & Distribution,Media,10000000000,"News Corp, WarnerMedia, NBCUniversal",-1,46000,87000,10000,-1,10000000000,10000000000,Large,Other
57,57,Data Analyst II,Job Description\n\nOur NY office is seeking a ...,3.2,Fragomen Worldwide,"New York, NY","New York, NY",1951,Company - Private,Legal,Accounting & Legal,"500000000,1000000000",-1,-1,46000,87000,1001,5000,500000000,1000000000,Large,Large
58,58,"Data Analyst - Environmental, Social, and Gove...","Job Requisition Number:82982\n\nAt Bloomberg, ...",3.8,Bloomberg,"New York, NY","New York, NY",1981,Company - Private,Computer Hardware & Software,Information Technology,Unknown,"Google, Goldman Sachs, Thomson Reuters",-1,46000,87000,10000,-1,-1,-1,Other,Other
59,59,Data Analyst,Data Analyst (New York)\n\nAddThis Sharing But...,3.9,Real Capital Analytics,"New York, NY","New York, NY",2000,Company - Private,Real Estate,Real Estate,"25000000,50000000",-1,-1,46000,87000,51,200,25000000,50000000,Medium,Medium
60,60,"Data Analyst, Revenue Analytics","About Ro\nFounded in 2017, Ro is a patient-dri...",4.8,Ro,"New York, NY","New York, NY",2017,Company - Private,Health Care Services & Hospitals,Health Care,Unknown,-1,-1,51000,88000,51,200,-1,-1,Other,Medium
61,61,Data Analyst - Data Acquisition / Data Lineage,OverviewAt Perficient you'll deliver mission-c...,3.6,Perficient,"New York, NY","Saint Louis, MO",1998,Company - Public,IT Services,Information Technology,"500000000,1000000000",-1,-1,51000,88000,1001,5000,500000000,1000000000,Large,Large
62,62,Data Analyst - Data Scanning utilizing Rochade,OverviewAt Perficient you'll deliver mission-c...,3.6,Perficient,"New York, NY","Saint Louis, MO",1998,Company - Public,IT Services,Information Technology,"500000000,1000000000",-1,-1,51000,88000,1001,5000,500000000,1000000000,Large,Large
63,63,Data Analyst - Stitching,OverviewAt Perficient you'll deliver mission-c...,3.6,Perficient,"New York, NY","Saint Louis, MO",1998,Company - Public,IT Services,Information Technology,"500000000,1000000000",-1,-1,51000,88000,1001,5000,500000000,1000000000,Large,Large
64,64,Junior Data Analyst,RESPONSIBILITIES:\n\nKforce has a client in se...,4.1,Kforce,"New York, NY","Tampa, FL",1966,Company - Public,Staffing & Outsourcing,Business Services,"1000000000,2000000000",-1,-1,51000,88000,10000,-1,1000000000,2000000000,Large,Other
65,65,"Data Analyst, Retail Media",Who we are\nCriteo (NASDAQ: CRTO) is the globa...,3.9,Criteo,"New York, NY","Paris, France",2005,Company - Public,Internet,Information Technology,"2000000000,5000000000","MediaMath, Conversant, AppNexus",-1,51000,88000,1001,5000,2000000000,5000000000,Large,Large
66,66,Data Analyst,Data Analyst Contract New York City Job 440 Pr...,3.0,Royal Communications,"New York, NY","New York, NY",-1,Company - Private,IT Services,Information Technology,"1000000,5000000",-1,-1,51000,88000,1,50,1000000,5000000,Small,Small
67,67,Portfolio Data Analyst,Summary:\n\nThe International Equity Group man...,3.7,Neuberger Berman,"New York, NY","New York, NY",1939,Company - Private,Investment Banking & Asset Management,Finance,"500000000,1000000000","Fidelity Investments, BlackRock, Putnam Invest...",-1,51000,88000,1001,5000,500000000,1000000000,Large,Large
68,68,Data Science Analyst,Job Details\n\nLevel\n\nExperienced\n\nJob Loc...,-1.0,Greater New York Mutual Insurance Companies (GNY),"New York, NY",Unknown,-1,-1,Unknown,Unknown,Unknown,-1,-1,51000,88000,-1,-1,-1,-1,Other,Other
69,69,Data/Reporting Analyst,Position Summary\nA data management/analyst wh...,3.9,Diverse Lynx,"New York, NY","Princeton, NJ",2002,Company - Private,IT Services,Information Technology,"100000000,500000000",-1,-1,51000,88000,501,1000,100000000,500000000,Large,Large
70,70,Data Analyst 2,Duration: 5 Months\n\nSchedule: Can be 8a.m. â€“...,3.7,eTeam Inc.,"New York, NY","South Plainfield, NJ",1999,Company - Private,Staffing & Outsourcing,Business Services,"50000000,100000000","Artech Information Systems, Mindlance, Tech Ma...",-1,51000,88000,51,200,50000000,100000000,Large,Medium
71,71,Entry Level Data Analyst,"Impakt Advisors is a brand new (2018), NYC bas...",-1.0,impakt Advisors,"New York, NY","New York, NY",-1,Company - Private,Consulting,Business Services,Unknown,-1,-1,51000,88000,1,50,-1,-1,Other,Small
72,72,Marketing Data Analyst,Marketing Data Analyst\n\nWe are a leading U.S...,3.6,Current,"New York, NY","Colorado Springs, CO",-1,Company - Public,Unknown,Unknown,Unknown,-1,-1,51000,88000,201,500,-1,-1,Other,Large
73,73,Data/Information Mgt Analyst,The Data/Information Mgt Analyst is a strategi...,3.7,Citi,"New York, NY","New York, NY",1812,Company - Public,Investment Banking & Asset Management,Finance,10000000000,-1,-1,51000,88000,10000,-1,10000000000,10000000000,Large,Other

In [64]:
df.BS_E.value_counts()

Large     905
Other     580
Medium    421
Small     347
Micro       0
Name: BS_E, dtype: int64